asgiref==3.5.2
beautifulsoup4
brotlipy==0.7.0
certifi==2022.5.18.1
cffi
charset-normalizer==2.0.12
cryptography==37.0.2
dj-database-url==0.5.0
Django==4.0.5
django-heroku==0.3.1
gunicorn
heroku==0.1.4
idna
psycopg2==2.9.3
pyadmin==0.0.1
pycparser
pyOpenSSL
PySocks
python-dateutil==1.5
pytz
requests==2.28.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
typing_extensions==4.2.0
urllib3
whitenoise==6.2.0
